/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with Singularity and LSF on JUNO cluster in MSKCC
 * ----------------------------------------------------------------------------
 */

process {
  beforeScript = 'module load singularity/2.6.1'
  mem_unit_conf = 1000
  executor = "lsf"
  clusterOptions = "-sla CMOPI"
  time = "8h"
  maxForks = 8
  perJobMemLimit = false
}

params {
  genome_base = params.genome == 'GRCh37' ? "/juno/work/taylorlab/cmopipeline/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh37" : params.genome == 'GRCh38' ? "/juno/work/taylorlab/cmopipeline/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh38" : "/juno/work/taylorlab/cmopipeline/mskcc-igenomes/igenomes/smallGRCh37"
}
env {
  NXF_SINGULARITY_CACHEDIR = "/juno/work/taylorlab/cmopipeline/sandbox/singularity_images"
}
