/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Singularity images for every process
 * All images will be pulled automatically
 * -------------------------------------------------
 */

singularity {
  enabled = true
  autoMounts = true
}

process {
  beforeScript = 'module load singularity/3.0.3'
}

params {
  repository="docker://${wf_repository}"
}
